
.baseButton {
  align-items: center;
  background-image: linear-gradient(144deg, #362345, #1b1439 50%, #000000);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 14px;
  justify-content: center;
  line-height: 1em;
  padding: 2px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.baseButton:active,
.baseButton:hover {
  outline: 0;
}

.baseButton span {
  background-color: rgb(5, 6, 45);
  padding: 8px 12px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.baseButton:hover span {
  background: none;
}

.baseButton:active {
  transform: scale(0.9);
}

.addButton {
  composes: baseButton;
  min-width: 40px;
}

.addButton span {
  padding: 8px;
}

.toggleButton {
  composes: baseButton;
  min-width: 28px;
  min-height: 28px;
}

.toggleButton span {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteButton {
  composes: baseButton;
  min-width: 80px;
  margin-left: 1rem;
}

.deleteButton span {
  padding: 6px 12px;
}